<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/static/feed/styles.css" type="text/css" media="all" />
    <title>Socialnet - Feed</title>
  </head>
  <body>
    {{ range . }}
      <div class="post" data-id="{{ .Post.ID }}">
        <a data-id="{{ .Post.Author }}">
          <img class="usr-img" src="{{ .ProfileImageURL }}" alt=""/>
        </a>
        <a data-id="{{ .Post.Author }}">
          <h3>{{ .Post.Author }} </h3>
        </a>
        <h3>{{ .Post.Title }} </h3>
        <h3>{{ .Post.Body }} </h3>
        <h3>{{ .Post.CreatedAt }} </h3>
        <h3>Likes: {{ len .Post.Likes }} </h3>
        <input data-liked="{{ .Liked }}" class="like" type="button"></input>
        <span>comments: {{ len .Post.Comments }} </span>
        <div class="comment-list">
        {{ range .Post.Comments }}
        <div class="comment-item">
           <img src="{{ .ImageURL }}"></img>
           <div class="text"> {{ .Text }} </div>
           <div class="author"> {{ .Username }} </div>
        </div>
        {{ end }}
        </div>
        <div class="comment">
          <input type="text"></input>
          <input type="button" value="comment"></input>
        </div>
      </div>
    {{ end }}
    <script defer="defer" src="/static/feed/script.js" charset="utf-8"></script>
  </body>
</html>
