<!DOCTYPE html>
<html>
  {{ template "head.html" "profile" }}
  <body>
  {{ template "header.html" }}
    <div id="info">
      <img id="profile-pic" src="{{ .ImageURL }}" src="" alt="profile picture"/>
      <h2>Username: {{ .Username }}</h2>
      <h2>First name: {{ .FirstName }}</h2>
      <h2>Last name: {{ .LastName }}</h2>
      <h3>Followers: {{ len .Followers }}</h3>
      <h3>Following: {{ len .Following }}</h3>
    </div>
    <input data-id={{ .IsFollower }} id="follow" value="Follow" type="hidden"></input>
    <div id="posts">
      <h2>Posts: </h2>
      {{ range .Posts }}
      <div class="post">
        <h3>{{ .Title }} </h3> 
        <p> {{ .Body }} </p>
        <img src="{{ .ImageURL }}" />
      </div>
      {{ end }}
    </div>
    <div>
      <div id="new-post">
        <h2>New Post:</h2>
        <input type="text" class="title"></input>
        <textarea class="body" height="300px"></textarea>
        Upload image: <input type="file" class="pic"></input>
        <input type="button" class="submit" value="submit"></input>
      </div>
    </div>
    <script defer="defer" src="/static/profile/script.js" charset="utf-8"></script>
    {{ template "footer.html" }}
  </body>
</html>
