<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body>
    {{ template "header.html" }}
    <div id="user-list">
      {{ range . }}
      <div class="user-item">
        <a data-id="{{ .Username }}" href="">
          <img src="{{ .ImageURL }}" alt="{{ .Username }}"/>
        </a>
        <span>{{ .Username }}</span>
      </div> 
      {{ end }}
    </div>
    <script defer="defer" src="/static/users/script.js" charset="utf-8"></script>
    {{ template "footer.html" }}
  </body>
</html>
