<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body>
    {{ template "header.html" }}
    <h3>Profile Pic: </h3>
    <img id="profile-pic" src="{{ .ImageURL }}" src="" alt="profile picture"/>
    <div id="change-profile">
      Change profile pic: <input type="file" class="pic" />
      <input class="submit" type="submit" value="Change"/>
    </form>
    <h3>Username: {{ .Username }}</h3>
    <h3>First Name: {{ .FirstName }}</h3>
    <h3>Last Name: {{ .LastName }}</h3>
    <h3>Email: {{ .Email }}</h3>

    <script defer="defer" src="/static/settings/script.js" charset="utf-8"></script>
    {{ template "footer.html" }}
  </body>
</html>
